.progress {
  &_wrap {
    display: flex;
  }

  &_box {
    border: 1px solid #fff;
    flex-grow: 2;
    padding: 1px;
    margin: 0 0 0 5px;
    position: relative;
  }

  &_el {
    background: #fff;
    height: 100%;
    display: block;
    transition: all 1s ease-out;
  }
}

.el_status {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 2px solid #fff;

  &_true, &_1 {
    background: #090;
  }

  &_false, &_0 {
    background: #900;
  }

  &_2 {
    background: #999400;
  }
}

.el_gloves {
  position: relative;
  height: 30px;
  margin-right: 5px;

  &:before, &:after {
    position: absolute;
    background: #243a73;
    font-size: 12px;
    right: -3px;
    height: 12px;
    width: 12px;
    text-align: center;
    border-radius: 100%;
  }

  &:before {
    content: attr(data-code);
    bottom: 0;
  }

  &:after {
    content: attr(data-room);
    bottom: 100%;
  }
}