html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: #132040;
  color: #ffff;
  margin: 0;
  padding: 0;
}

.main-wrap > * {
  padding: 0 10px;
}

.main-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #070e1f;
  padding: 10px 10px !important;

  button {
    width: 110px;
    padding: 10px;
    margin: -10px 0;
    border-radius: 0;
    outline: none;
    background: #eee;
    border: none;
  }
}

nav select {
  margin-left: 10px;
}

footer {
  background: #070e1f;
  padding: 10px 10px !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  border: 1px solid;
}

thead {
  border-bottom: 1px dashed;
  background: #09152f;
}

td {
  padding: 3px 5px;
  transition: all 1s ease-out 3s;
}

tr {
  transition: all 0.4s ease-out;
}

tbody tr:nth-child(2n) {
  background: #041642;
}

tbody tr:hover {
  background: #00298c;
}

tr.active {
  background: #008c82 !important;
}

.carNumber {
  height: 20px;
}

.car_full {
  height: 40px;
  margin-left: 20px;
}

.car-wrap {
  display: flex;
  justify-content: flex-end;
}

td img {
  cursor: pointer;
}

.esp_status {
  max-width: 300px;
  text-align: center;
}

.device_line {
  td {
    padding: 0;
    height: 0;
    border-top: 2px dotted #fff;

    &:nth-child(2n+1) {
      padding: 0 10px;
      max-width: 100px;
    }
  }

  button{
    width: 100%;
    padding: 5px 10px;
    margin: 1px;
    cursor: pointer;
    transition: all .6s;

    &:hover{
      background: #070e1f;
      color: #fff;
    }
  }
}

@import "el";